*{
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family:  "Helvetica", sans-serif;
}
h1{
    margin: 0;
    text-align: center;
}
.container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    max-width: 440px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0, .2);
}
label{
    margin-bottom: 4px;
}
input{
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    outline: none;
    /* width: 100%; */
}
button{
    margin-top: 10px 0;
    font-size: 18px;
    color: white;
    background-color:#4caf50;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
button:hover{
    background-color:#45a049;
}
#total{
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}
